<!DOCTYPE html>
<html>
<head>
    <title>CPU Scheduler System</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <h1>CPU Scheduler System</h1>
    <button type="button" onclick="window.location.href='/srt'">SRT</button>
    <button type="button" onclick="window.location.href='/sjn'">SJN</button>
    <button type="button" onclick="window.location.href='/pp'">Premitive Priority</button>
    <button type="button" onclick="window.location.href='/rr'">Robin Round</button>


</body>


</html>