<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Round Robin (RR) Scheduler</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Round Robin (RR) Scheduler</h1>

    <div class="instructions">
        <p>Please enter the details for the Round Robin scheduling algorithm:</p>
        <p>1. Number of processes should be between 3 and 10.</p>
        <p>2. Arrival, Burst, Priorities times should be integers and use ','.</p>
        <p>3. Time quantum should be a positive integer.</p>
    </div>
    
    <form method="POST">
        <label for="process_names">Process Names:</label>
        <input type="text" id="process_names" name="process_names" placeholder="example: 'P1,P2,P3'" required><br>

        <label for="arrival">Arrival Times:</label>
        <input type="text" id="arrival" name="arrival" pattern="\d+(,\d+)*" placeholder="example: '2,3,4'"  required><br>

        <label for="burst">Burst Times:</label>
        <input type="text" id="burst" name="burst" pattern="\d+(,\d+)*" placeholder="example: '2,3,4'" required><br>

        <label for="quantum">Quantum:</label>
        <input type="number" id="quantum" name="quantum" placeholder="example: '3'" min="1" required><br>

        <!-- Display error message if any -->
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <input type="submit" value="Submit"><br>
        <a href="/">Go Back to Home</a>
    </form>
</body>
</html>
